.flash-card {
    position: relative;
    perspective: 1000px;
    width: 100%;
    max-width: 30rem;
    height: 30rem;
}

.flash-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flash-card.flipped .flash-card-inner {
    transform: rotateY(180deg);
}

.flash-card-front,
.flash-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.flash-card-front {
    background-color: #ffffff;
    color: black;
}

.flash-card-back {
    background-color: #f8f9fa;
    color: black;
    transform: rotateY(180deg);
}

.flash-card-front .input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.flash-card-front .input-area textarea {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: inherit;
}

.flash-card-front .input-area button {
    color: black;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.level-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #777;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 0;
    font-size: 1.1em;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}

.answer-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.correct-button,
.incorrect-button {
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
    border: .1rem solid;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct-button {
    border-color: #AAA;
    color: #4CAF50;
}

.incorrect-button {
    border-color: #AAA;
    color: #f44336;
}

.correct-button:hover,
.incorrect-button:hover {
    transform: scale(1.05);
}

.correct-button:active,
.incorrect-button:active {
    transform: scale(0.95);
} 